<footer class="footer">

    <h1 class="footer__title">
        - get in touch with us -
    </h1>

    <p class="footer__text">
        Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed
        donec malesuada ullamcorper odio.
    </p>

    <ul class="footer__links-container">
        <li class="footer__links-item">
        <a href="#" class="footer__links footer__links-rss">
            <img src="@img/RSS.png" alt="rss image">
        </a>
        </li>
        <li class="footer__links-item">
            <a href="#" class="footer__links footer__links-rss">
                <img src="@img/Facebook.png" alt="facebook image">
            </a>
        </li>
        <li class="footer__links-item">
            <a href="#" class="footer__links footer__links-rss">
                <img src="@img/Twitter.png" alt="twitter image">
            </a>
        </li>
        <li class="footer__links-item">
            <a href="#" class="footer__links footer__links-rss">
                <img src="@img/Dribbble.png" alt="dribbble image">
            </a>
        </li>
        <li class="footer__links-item">
            <a href="#" class="footer__links footer__links-rss">
                <img src="@img/Pinterest.png" alt="pinterest image">
            </a>
        </li>
    </ul>

    <ul class="footer__contacts-container">
        <li class="footer__contacts-address">
            Moonshine St. 14-05 Light City&nbsp;&nbsp;
        </li>
        <li class="footer__contacts-tel">
            <a href="tel:+001234567890">&nbsp;&nbsp;T. +00 (123) 456 78 90&nbsp;&nbsp;</a>
        </li>
        <li class="footer__contacts-mail">
            <a href="mailto:first.last@email.com" target="_blank" rel="noopener noreferrer">
                &nbsp;&nbsp;first.last@email.com</a>
        </li>
    </ul>
</footer>