<nav class="header-menu">
  <div class="header-menu__burger-container">
    <i class="fa-solid fa-bars header-menu__burger"></i>
  </div>
  <ul class="header-menu__list">
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="https://dan-it.com.ua/" target="_blank">Home</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">About Us</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">Our Journal</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">Projects</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">news</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">features</a>
    </li>
    <li class="header-menu__list-item">
      <a class="header-menu__list-item__link>" href="#">contact</a>
    </li>
  </ul>
</nav>