<section class="insta-section">

    <div class="insta-section__text-container">
        <h1 class="insta-section__title">
            - Latest Instagram Shots
        </h1>
        <a class="insta-section__link" href="#">
            go to our instagram page -
        </a>
    </div>

    <ul class="insta-section__img-list">
        <li class="insta-section__img-list__item item-1">
            <img src="@img/insta-shots_1.jpg" alt="instagram shots bike">
        </li>
        <li class="insta-section__img-list__item item-2">
            <img src="@img/insta-shots_2.jpg" alt="instagram shots door">
        </li>
        <li class="insta-section__img-list__item item-3">
            <img src="@img/insta-shots_3.jpg" alt="instagram shots art">
        </li>
        <li class="insta-section__img-list__item item-4">
            <img src="@img/insta-shots_4.jpg" alt="instagram shots car">
        </li>
    </ul>

</section>