<main class="main-content">
    <h1 class="main-content__title">- our Recent posts</h1>

        <div class="main-content__album main-content__album-1">
            <div class="main-content__picture">
                <img src="@img/post-img_1.jpg" alt="Photography, Journal cup of tea">
            </div>
            <div class="main-content__description">
                <a class="main-content__picture-title" href="#">
                    Aenean Adipiscing Etiam Vestibulum
                </a>
                <p class="main-content__picture-comment">
                    Photography, Journal   /   9 Comments
                </p>
                <p class="main-content__picture-description">
                    Etiam porta sem malesuada euismod. Aenean leo quam.
                    <br>Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </p>
            </div>
        </div>

        <div class="main-content__album main-content__album-2">
            <div class="main-content__picture">
                <img src="@img/post-img_2.jpg" alt="Photography, Journal cup of tea">
            </div>
            <div class="main-content__description">
                <a class="main-content__picture-title" href="#">
                    Aenean Adipiscing Etiam Vestibulum
                </a>
                <p class="main-content__picture-comment">
                    Photography, Journal   /   9 Comments
                </p>
                <p class="main-content__picture-description">
                    Etiam porta sem malesuada euismod. Aenean leo quam.
                    <br>Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </p>
            </div>
        </div>

        <div class="main-content__album main-content__album-3">
            <div class="main-content__picture">
                <img src="@img/post-img_3.jpg" alt="Photography, Journal cup of tea">
            </div>
            <div class="main-content__description">
                <a class="main-content__picture-title" href="#">
                    Aenean Adipiscing Etiam Vestibulum
                </a>
                <p class="main-content__picture-comment">
                    Photography, Journal   /   9 Comments
                </p>
                <p class="main-content__picture-description">
                    Etiam porta sem malesuada euismod. Aenean leo quam.
                    <br>Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </p>
            </div>
        </div>

        <div class="main-content__album main-content__album-4">
            <div class="main-content__picture">
                <img src="@img/post-img_4.jpg" alt="Photography, Journal cup of tea">
            </div>
            <div class="main-content__description">
                <a class="main-content__picture-title" href="#">
                    Aenean Adipiscing Etiam Vestibulum
                </a>
                <p class="main-content__picture-comment">
                    Photography, Journal   /   9 Comments
                </p>
                <p class="main-content__picture-description">
                    Etiam porta sem malesuada euismod. Aenean leo quam.
                    <br>Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </p>
            </div>
        </div>

</main>