body {
  width: 100%;
  min-width: 301px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3% 1.5%;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
