@import "variables";
@import "mixins";

.footer {
  width: 100%;
  height: 315px;
  background: #000000;
  padding-top: 38px;
  padding-bottom: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}

.footer__title {
  @include fontRobotoBold(14px, 22px, $textColorFE);
  text-transform: uppercase;
}

.footer__text {
  @include fontRobotoNormal(12px, 20px, $textColorB9);
  max-width: 303px;
  text-align: center;
}

.footer__text-span {
  display: none;
  margin: 0 auto;
}

.footer__links-container {
  list-style: none;
  width: 192px;
  display: flex;
  justify-content: space-between;
}

.footer__contacts-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__contacts-address {
  @include fontRobotoNormal(14px, 24px, $textColorB9);
  &::after {
    content: '/';
  }
}

.footer__contacts-tel {
  >a[href^="tel:"] {
    text-decoration: none;
    @include fontRobotoNormal(14px, 24px, $textColorB9);
    &::after {
      content: "/";
    }
  }
}

.footer__contacts-mail {
  >a[href^="mailto:"] {
    text-decoration: none;
    @include fontRobotoNormal(14px, 24px, $textColorB9);
  }
}

@media (min-width: 768px) {
  .footer {
    margin-top: 50px;
    height: 332px;
    padding-top: 57px;
    padding-bottom: 56px;

    .footer__title {
      @include fontRobotoBold(16px, 22px, $textColorFE);
    }

    .footer__text {
      @include fontRobotoNormal(16px, 26px, $textColorB9);
      max-width: 684px;

      &::after {
        content: "Curabitur blandit tempus porttitor vollisky inceptos mollisestor.";
      }
    }

    .footer__contacts-container {
      max-width: 613px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .footer__contacts-address {
    @include fontRobotoNormal(16px, 26px, $textColorB9);
  }

  .footer__contacts-tel {
    >a[href^="tel:"] {
      @include fontRobotoNormal(16px, 26px, $textColorB9);
    }
  }

  .footer__contacts-mail {
    >a[href^="mailto:"] {
      @include fontRobotoNormal(16px, 26px, $textColorB9);
    }
  }
}

@media (min-width: 768px) {
  .footer {
    margin-top: 49px;
    height: 355px;
    padding-top: 66px;
    padding-bottom: 70px;

    .footer__text {
      @include fontRobotoNormal(16px, 28px, $textColorB9);
    }
  }
}