.header {
  width: 100%;
  min-width: 320px;
  margin-top: 6%;
  .header-picture__container{
    width: 100%;
  }
  .header-picture {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 4%;
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .header {
    margin-top: 3%;
    max-width: 1170px;
  }
}