@import "mixins";
@import "variables";

.header-menu {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.header-menu__burger-container {
  width: 44px;
  height: 37px;
  @include flexCenter;
  background-color: rgba(0, 0, 0, 1);
}
.header-menu__burger {
  color: $colorWhite;
}
.header-menu__list {
  position: absolute;
  top: 37px;
  width: 182px;
  display: none;
  background: $bgF5;
  &.opened {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.header-menu__list-item {
  width: 100%;
  &:hover {
    background: $bgE5;
  }
  > a {
    text-decoration: none;
    @include fontRobotoNormal(11px, 22px, $textColor4E);
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-left: 13px;
    &:active {
      color: $activeColor;
    }
  }
}

@media (min-width: 768px) {
  .header-menu {
    max-width: 768px;
  }
  .header-menu__burger-container {
    display: none;
  }
  .header-menu__list {
    position: unset;
    background: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  .header-menu__list-item {
    display: contents;
    &:hover {
      background: none;
    }
    > a {
      display: block;
      margin: 0;
    }
  }
}

@media (min-width: 1200px) {
  .header-menu {
    max-width: 1170px;
  }
}