@import "mixins";
@import "variables";

.insta-section {
  width: 100%;
  max-width: 373px;
  margin-top: 77px;
  background: rgba(0, 0, 0, 0.0003);
  mix-blend-mode: normal;
}

.insta-section__text-container {
  margin-bottom: 13px;
}

.insta-section__title {
  @include fontRobotoBold(14px, 22px, $textColor4E);
  text-transform: uppercase;
}

.insta-section__link {
  text-decoration: none;
  @include fontRobotoBold(13px, 22px, $textColor4E);
  text-transform: uppercase;
  display: none;
}

.insta-section__img-list {
  list-style: none;
  width: 100%;
  height: 301px;
  overflow: hidden;
}

.insta-section__img-list__item {
  max-width: 301px;
  height: 301px;
  img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .insta-section {
    margin-top: 107px;
    max-width: 768px;
  }
  .insta-section__title {
    @include fontRobotoBold(16px, 22px, $textColor4E);
  }
  .insta-section__link {
    display: block;
  }
  .insta-section__img-list {
    max-height: 249px;
    display: flex;
    justify-content: space-between;
    column-gap: 1%;
  }
  .item-4 {
    display: none;
  }
  .insta-section__img-list__item {
    max-width: 249px;
    max-height: 249px;
  }
  .insta-section__text-container {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .insta-section {
    max-width: 1170px;
    margin-top: 116px;
  }
  .insta-section__img-list {
    max-height: 285px;
  }
  .item-4 {
    display: block;
  }
  .insta-section__img-list__item {
    max-width: 285px;
    max-height: 285px;
  }
  .insta-section__text-container {
    margin-bottom: 24px;
  }
}