@import "mixins";

.main-content{
  width: 100%;
  min-width: 232px;
  margin-top: 13%;
  height: 693px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    @include fontRobotoBold(14px, 22px, #4E4E4E);
    text-transform: uppercase;
  }
}

.main-content__picture {
  width: 160px;
  height: 140px;
  img {
    width: 100%;
  }
}

.main-content__picture-title {
  @include fontRobotoBold(14px, 30px, #4E4E4E);
  margin-top: 11px;
}

.main-content__picture-comment {
  @include fontRobotoNormal(11px, 20px, #7C7C7C);
}

.main-content__picture-description {
  @include fontRobotoNormal(14px, 26px, #5C5C5C);
  display: none;
}

.main-content__album-4 {
  display: none;
}

@media (min-width: 768px) {
  .main-content__album-1 {
    display: block;
  }
  .main-content__picture-description {
    display: block;
    margin-top: 13px;
  }
  .main-content{
    margin-top: 8%;
    height: 699px;
    max-width: 768px;
    h1 {
      @include fontRobotoBold(16px, 22px, #4E4E4E);
    }
  }
  .main-content__album {
    display: flex;
    justify-content: flex-start;
  }
  .main-content__description {
    margin-left: 20px;
    .main-content__picture-title {
      @include fontRobotoBold(16px, 30px, #4E4E4E);
    }
    .main-content__picture-comment {
      @include fontRobotoNormal(12px, 20px, #7C7C7C);
    }
  }
}

@media (min-width: 1200px) {
  .main-content{
    .main-content__title {
      grid-area: title;
    }
    .main-content__album-1{
      grid-area: album_1;
    }
    .main-content__album-2{
      grid-area: album_2;
    }
    .main-content__album-3{
      grid-area: album_3;
    }
    .main-content__album-4{
      grid-area: album_4;
    }
    margin-top: 6%;
    height: 355px;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 45% 45%;
    column-gap: 2%;
    grid-template-areas:
        "title title"
        "album_1 album_2"
        "album_3 album_4";
  }
}