@mixin fontRobotoNormal ($fz, $fh, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $fz;
  line-height: $fh;
  color: $color;
}

@mixin fontRobotoBold ($fz, $fh, $color) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $fz;
  line-height: $fh;
  color: $color;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}